@import "variables";
@import "ultility";
@import "button";
@import "project";
@import "text";
@import "markdown";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  transition: color .2s ease-in-out;
}

svg {
  transition: fill .2s ease-in-out;
}

ul {
  margin-top: 0.5rem;
}

ul > li {
  padding: 0.3rem 0;
}

p > img {
  max-width: 100%;
  height: auto;

  display: block;
  margin: 0 auto;

  border-radius: 8px;
}

header.main {
  background-color: var(--primary-color);
  color: black;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: "Alfa Slab One", serif;
    font-size: 32px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    margin: 0 40px;

    img {
      width: 60px;
      margin: 0 25px;
    }
  }

  .nav-item {
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    svg {
      fill: var(--primary-text-color);
    }

    &:hover {
      color: var(--secondary-color);
      text-decoration: none;

      svg {
        fill: var(--secondary-color);
      }
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding: 0 40px;

  div {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.2rem;

    color: var(--secondary-color);
  }

  .explore-more {
    position: absolute;
    bottom: 20px;
    left: 45%;
    cursor: pointer;
  }
}

header.main, .hero {
  .heading-text, h1, .title-text, h2, .subtitle-text, .text {
    color: var(--primary-text-color);
  }
}

nav .nav-item:hover {
  color: var(--secondary-color);
}

main {
  display: flex;
  padding: 50px 100px;

  aside {
    max-width: 260px;
    min-width: 240px;

    position: relative;

    .aside-section {
      padding: .8rem 1rem;
      border-top: 5px solid var(--primary-color);
      border-radius: 3px;
      background-color: white;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    .toc {
      &.is-sticky {
        position: sticky;
        top: 10px;
      }

      .toc-item {
        padding: .6rem 0;
        color: #424242;
      }

      .toc-item-child {
        padding: 0 1.5rem .4rem;
        color: #424242;
      }

      .toc-item a, .toc-item-child a {
        color: var(--secondary-text-color);

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .toc-item a.active, .toc-item-child a.active {
        color: var(--toc-highlight-text-color);
      }
    }
  }
}

footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #fcfcfc;

  a {
    color: #fcfcfc;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  header.main {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 28px;
      margin: 10px;

      img {
        width: 45px;
        margin: 0 10px 0 0;
      }
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero {
    padding: 40px 30px;
  }

  main {
    padding: 30px;
    flex-direction: column;

    > aside {
      width: 100%;
      max-width: unset;
    }
  }

  .content {
    padding: 0;
  }

  .explore-more, aside > .toc {
    display: none;
  }

}
